# Created by .ignore support plugin
.idea
*.iml
out
gen
LOG_FILE_IS_UNDEFINED.json
/.apt_generated/
/.classpath
/.factorypath
/.project
/.settings/
/.springBeans
/target/
/*/*/target/
/**/target/
/user-profile-analysis.iml
/.idea
/log/
/**/log/
*.log
/**/.DS_Store
*.pid